@media screen and (max-width: 780px) {
    body {
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    figure img{
        margin: 10px;
    }
    h1, h2 {
        font-size: 200%; /* Adaptation tailles des titres, plus petits*/
    }
    /* Media query menu / logo / slider */
    #slider {
        display: none;
    }

    #logo{
        max-width: 200px;
    }

    header {
        display: flex;
        flex-direction: column;

    }

    header nav a:hover, header nav .active {
        border: none;
    }
    /* Media query services */

    #services_body {
        flex-wrap: wrap;
    }

    #services, #projets {
        padding-top: 100px;
    }

    .header_section
    {
        margin: auto;
    }

    .maps{
        display: none;
    }

    #services{
        overflow-x: hidden;
    }

    #form_contact form{
        margin: auto;
    }

    .projets_album{
        width: 100%;
    }
    figure{
        width: 25%;
    }
}



@media screen and (max-width: 480px) {

    #form_contact form{
        width: 80%;
        margin: 10px;
    }

    header ul{
        padding: 0;
    }

    .iconeprojet li {
        width: 100%;
    }

    .iconeprojet {
        width: 100%;;
    }
}

@media screen and (min-width: 1024px){
    .projets_album{
        width: 100%;
    }
    .portfolio{
        width: 20%;
        height: 100%;
    }
}