
#services_body {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

#services_conteneur {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

#services img {
    margin: 0 auto;
}

.services_description {
    display: flex;
}

.services_text {
    margin-left : 20px;
}