/* Layout */
body {
    
    font-family: 'Bookman Old Style', serif;
    color: rgb(119,119,119);
    margin: 0;
    font-size: 16px;
    width: 100%;
}

h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 250%;
    font-weight: 900;
    color: black;
    text-align: center;
}

h2, h3 {
    font-family: 'Old Standard TT', serif;
    color: rgb(39,39,39);
    transition: all 0.8s ease;
}

/*  SERVICES ET SECTION  */

.header_section {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
/* Sous-titre separateur */
hr {
    width: 200px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(217,217,217,0), rgba(217,217,217,1), rgba(217,217,217,0));
    margin-bottom: 30px;
    position: relative;
}
.fa-circle {
    line-height: 0.85em;
    color: rgb(82,159,195);
    border: 5px solid white;
    border-radius: 50%;
}

#projets hr::after {
    background-color: rgb(245,245,245);
}
/* Titre section visible lors de la navigation par le menu */
#services, #projets { 
    padding-top: 120px;
}
#services h2, #projets h2 {
    margin-top: 0;
    padding-top: 0;
}