body {
    
    font-family: 'Roboto', sans-serif;
    color: rgb(119,119,119);
    margin: 0;
    font-size: 16px;
    width: 100%;
}

h1 {
    font-size: 250%;
    font-weight: 900;
    color: black;
    text-align: center;
}

h2, h3 {
    color: rgb(39,39,39);
    transition: width 2s;
}
